extends layout

block content
  h1
    include partials/person
    |  
    small a craftsman of code

  h2 Projects
  ul.nav.nav-list
    each project in projects
      li
        include partials/project