extends layout

block append header
  style.
    .file {
      color: #aaa;
    }
    .delete {
      background-color: #fdd;
    }
    .insert {
      background-color: #dfd;
    }
    .info {
      color: #a0b;
    }

block content

  h1 Commit #{commit.id}
  | !{commit.diff}
