extends layout

block append header
  style.
    .file {
      color: #aaa;
    }
    .delete {
      background-color: #fdd;
    }
    .insert {
      background-color: #dfd;
    }
    .info {
      color: #a0b;
    }

block content

  h2 Commit #{commit.commit}
  
  p
    include partials/commit-row
  
  | !{commit.diff}
