extends layout

block content
  h1 People

  ul.list-group
    //- consider "resource" as what this _view_ is referencing; what resource?
    for person in resource
      li.list-group-item
        include partials/person
