extends layout

block content
  .row
    .col-md-12
      a.btn.btn-default.pull-right(href="/projects/new") Create New &raquo;

      h1
        a(href="/projects") Projects

  .row
    .col-md-12
      ul.list-group
        each project in projects
          include partials/project-row
